.product-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;

  padding-right: 10px;
  padding-bottom: 30px;
}

.product-item {
  width: 600%;
  height: 300%;
}

.text-area-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  width: 12%;
}

.product-header {
  background-color: #ffffff;
  color: #47525e;

  font-family: Lato;
  font-weight: bold;
  font-size: 20px;

  width: 200px;

  margin-top: 10px;
}

/* Small Screens */
/* @media (min-width: 300px) {
  .product-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100vw;
  }

  .product-item {
    width: 1000%;
    height: 1000%;
    position: relative;
  }
} */
