.success-popover {
  height: 8vh;
  width: 20vw;
  background-color: #b3d7a5;
  background-color: rgba(179, 215, 165, 0.657);
  border-radius: 10px;
  align-self: center;
  margin-top: 10vh;
  text-align: center;
}

.success-text {
    color: #47525E;
    font-family: Lato;
    font-weight: bolder;
}
