.ion-toolbar-about {
  --background: #cbd2c3;
  height: 75px;
  width: 100%;
  display: flex;
}

.img {
  height: 100%;
}

.img_text {
  font-size: small;
  margin-left: 6px;
  align-self: flex-end;
  margin-bottom: 3px;
  color: #47525e;
}

.back-button {
  background-color: #8e9a84;
  color: #47525e;
  border-radius: 8px;
  padding: 10px;
}

.back {
  font-weight: bold;
}

.ion-content-about {
  --background: none;
  background-image: url("../images/about.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  filter: opacity(70%);
}

.ion-card-content-about {
  color: #47525e;
  margin-top: 20px;
  font-weight: bold;
  text-align: justify;
}

.card1 {
  display: flex;
  flex-direction: column;

  width: 700px;
  height: 565px;
  margin-left: 35px;
  margin-top: 30px;

  background-color: #8e9a84;

  text-align: center;

  border-radius: 20px;
}

.card_title1 {
  color: #47525e;
  margin-top: -45px;
  margin-left: -55px;
  background-color: #cbd2c3;

  height: 50px;
  width: 800px;
  border-radius: 20px;
}

.title1 {
  margin-top: 30px;
  padding: 8px 0px;
}

.card2 {
  display: flex;
  flex-direction: column;

  width: 620px;
  height: 300px;
  margin-top: 35px;

  background-color: #eaeeed;

  text-align: center;

  border-radius: 20px;
}

.card_title2 {
  color: #47525e;
  margin-top: -45px;
  margin-left: -50px;
  background-color: #cbd2c3;

  height: 50px;
  width: 700px;
  border-radius: 20px;
}

.title2 {
  margin-top: 30px;
  padding: 8px 0px;
}

.card3 {
  display: flex;
  flex-direction: column;

  width: 620px;
  height: 255px;
  border-radius: 20px;

  background-color: #b6c4a2;

  text-align: center;
}

.card_title3 {
  color: #47525e;
  margin-top: -45px;
  margin-left: -50px;
  background-color: #cbd2c3;

  height: 50px;
  width: 700px;
  border-radius: 20px;
}

.title3 {
  margin-top: 30px;
  padding: 8px 0px;
}

@media (max-width: 1414px) {

  .col1 {
    display: flex;
    justify-content: center;
  }

  .col2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row1 {
    display: flex;
    justify-content: center;
  }

  .card2 {
    display: flex;
    flex-direction: column;
  
    width: 620px;
    height: 100%;
    margin-bottom: 0.1%;
  
    background-color: #eaeeed;
  
    text-align: center;
  
    border-radius: 20px;
  }

  .card_title2 {
    width: 125%;
  }

  .card3 {
    display: flex;
    flex-direction: column;
    margin-bottom: -1.9%;
  
    width: 620px;
    height: 100%;
    border-radius: 20px;
  
    background-color: #b6c4a2;
  
    text-align: center;
  }
  
  .card_title3 {
    width: 125%;
  }

}
