.ion-toolbar-about {
  --background: #cbd2c3;
  height: 75px;
  width: 100%;
  display: flex;
}

.img {
  height: 100%;
}

.img_text {
  font-size: small;
  margin-left: 6px;
  align-self: flex-end;
  margin-bottom: 3px;
  color: #47525e;
}

.back-button {
  background-color: #8e9a84;
  color: #47525e;
  border-radius: 8px;
  padding: 10px;
}

.back {
  font-weight: bold;
}

.ion-content-about {
  --background: none;
  background-image: url("../images/about.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.about-container {
  display: grid;
  grid-template-areas:
    "why-u-need why-u-need product product"
    "why-u-need why-u-need product product"
    "why-u-need why-u-need team team"
    "why-u-need why-u-need team team";
  gap: 3%;

  padding: 4%;
  height: 100%;

  color: #47525e;
}

.why-u-need {
  grid-area: why-u-need;

  background-color: #8e9a84;
  border-radius: 20px;

  text-align: center;
}

.why-u-need-header {
  background-color: #CBD2C3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  height: 10%;
  width: 100%;

  padding: 2%;
}

.why-u-need-title {
  margin-top: 0;
  font-weight: bolder;

  position: relative;
}

.product-about {
  grid-area: product;

  background-color: #eaeeed;
  border-radius: 20px;

  text-align: center;
}

.product-header {
  background-color: #cbd2c3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  height: 15%;
  width: 100%;

  padding: 2%;
}

.product-title {
  margin-top: 0;
  font-weight: bolder;

  position: relative;
}

.team {
  grid-area: team;

  background-color: #b6c4a2;
  border-radius: 10px;

  text-align: center;
}

.team-header {
  background-color: #cbd2c3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  height: 15%;
  width: 100%;
  padding: 2%;
}

.team-title {
  margin-top: 0;
  font-weight: bolder;
  position: relative;
}

.text {
  color: #47525e;
  font-family: Lato;
  font-weight: 380;
  text-align: center;
  
  padding: 1%;
}

@media (max-width: 480px) {

  .about-container {
    display: grid;
    grid-template-areas:
      "why-u-need why-u-need why-u-need why-u-need"
      "why-u-need why-u-need why-u-need why-u-need"
      "product product product product"
      "team team team team";

    height: 100%;
  
    color: #47525e;
  }

}
