.ion-toolbar-choice {
  --background: #cbd2c3;
  display: flex;
  height: 75px;
  width: 100%;
}

.img_text-choices {
  font-size: small;
  margin-left: 6px;
  align-self: flex-end;
  color: #47525e;
  position: absolute;
  margin-top: 1.5%;
}

.choices-container {
  background-color: #CBD2C3;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 0px 24px -10px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: default;
}

.ion-content-choices {
  --background: none;
  background-image: url("../images/choice.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.choice-text {
  color: #47525e;
  font-size: 1.1rem;
  font-weight: bold;
}

.buttons-div {
  display: flex;
  justify-content: space-around;
}

.buttons-div {
  height: 100%;
}

.big-button {
  background-color: #8E9A84;
  color: #47525e;
  margin: 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 24px -10px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem;
}

.button-img {
  width: 10vh;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
}


@media(min-width: 300px) {

  .choices-container {
    width: 300px;
  }

  .big-button {
    height: 65%;
    width: 50%;
    display: inline-block;
    margin-top: 5rem;
    margin-bottom: auto;
  }

  .big-button-text {
    font-size: 1.3rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 800px) {
  
  .big-button {
    height: 68%;
    width: 38%;
    display: inline-block;
    
  }

  .big-button-text {
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}