
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Monoton&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Lato:ital,wght@0,300;1,700&family=Monoton&family=Poiret+One&display=swap');

.ion-buttons-home {
  color: #47525e;
}

.button-primary {
  background: #8e9a84;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
}

.arrow-down {
  width: 100vw;
  margin-top: 90vh;
  position: absolute;
}

.icon {
  color: #47525e;
}

.ion-toolbar-home {
  --background: #cbd2c3;
  display: flex;
  height: 75px;
  width: 100%;
}

.img_text {
  font-size: small;
  margin-left: 6px;
  margin-top: 60px;
  color: #47525e;
}

.img {
  height: 100%;
}

.ion-content-home {
  --background: none;
  background-image: url("../images/home_page.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  height: 100%;
  width: 100%;
}

.panel1 {
  height: 100%;
}

.title {
  font-family: Lato;
  margin-left: 50%;
  margin-top: 10%;
  width: 40%;
  position: absolute;
}

.homePage_title {
  color: #47525e;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  overflow: auto;

}

.separator {
  width: 100%;
  border-bottom: 1px solid #47525e;
  margin-top: 20px;
  margin-bottom: 20px;
}

.homePage_subText {
  color: #47525e;
  font-size: 25px;
  width: 100%;
  text-align: center;
}

.separator2 {
  width: 80%;
  border-bottom: 1px solid #47525e;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 300px) {

  .title {
    width: 86vw;
    height: 150px;
    position: fixed;
    left: -20vw;
    top: 13vh;
    padding-right: 4rem;
  }

  .homePage_title {
    color: #47525e;
    font-size: 5.8vh;
    overflow: auto;
  }

  .homePage_subText {
    display: none;
  }

  .arrow-down {
    margin-top: 79vh;
    zoom: 1.5;
  }

  .separator {
    width: 39vw;
    position: absolute;
    border-bottom: 1px solid #47525e;
    left: 18vw;
    top: 5vh;
  }

  .homePage_subText {
    color: #47525e;
    font-size: 15px;
    width: 100%;
    text-align: center;
  }
}

/* css for new page below home page*/


.phone-grid {
  display: flex;

  .phone {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
}

.panel2 {
  /*   z-index: 0; */
  color: #47525e;
  height: auto;
  width: 100%;
  position: absolute;
  background: #a3af95;

  p:first-child {
    color: #47525e;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
  }

  p {
    text-align: center;
    color: #47525e;
  }

  h2 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    //color:rgb(54, 53, 53);
    color: #47525e;
  }


}

.accordion {
  margin: 0 auto;


  ion-label {
    y: "Roboto", sans-serif;
    text-align: center;

  }

  .question {
    color: #47525e;
    font-weight: bold;
  }
}

.footer {
  position: absolute;
  width: 100%;
  background-color: #e9e5e1;
  text-align: center;
  padding-bottom: 1rem;
  border-top-style: solid;
  border-top-width: 0.05rem;
  border-top-color: rgb(54, 53, 53);

  p {
    padding: 0rem !important;
  }

  a {
    font-size: 1.2rem;
    text-decoration: none;
  }

  a:hover {
    color: #bb8a59;
  }
}

//small screens
@media (min-width: 300px) {

  .p1 {
    font-size: 3rem;
  }

  .p2 {
    font-size: 1.1em;
    padding-left: 0.2rem;
  }

  .phone {
    display: none;
  }

  p {
    margin: 1rem 0;
  }

  .description {
    padding-bottom: 1rem;
    padding-left: 3rem;
    width: 90%;
    text-align: match-parent;
  }

  h2 {
    padding: 2rem;
  }

  .panel2 {

    margin-top: 100vh;

    p:first-child {
      margin-top: 2rem;
    }
  }

  .accordion {
    width: 100%;
    padding-bottom: 5rem;
  }

  .footer {
    p {
      margin: 0.5rem 0;
      padding: 0.5rem 1rem;
    }
  }
}

//big screens
@media (min-width: 800px) {

  .title {
    width: 86vw;
    height: 150px;
    position: fixed;
    left: -20vw;
    top: 6vh;
    padding-right: 4rem;
  }

  .homePage_title {
    width: 36vw;
    color: #47525e;
    font-size: 5.1vh;
    text-align: center;
    overflow: auto;
    left: 51.5vw;
    top: 21vh;
    position: fixed;
  }

  .separator {
    /* width: 3vw;
    border-bottom: 1px solid #47525e;
    position: fixed;
    left: 20vw;
    top: -6vh; */
    position: inherit;
    border-bottom: 1px solid #47525e;


  }

  .homePage_subText {
    display: flex;
    color: #47525e;
    font-size: 2.3vh;
    width: 40%;
    text-align: center;
    position: fixed;
    left: 50vw;
    top: 29vh;
  }

  .arrow-down {
    zoom: 2;
  }

  .p1 {
    font-size: 10vmin;
  }

  .p2 {
    font-size: 2.5vmin;
    padding-left: 0.4rem;
  }

  .phone {
    display: inline;
    position: relative;
    z-index: 2;
    margin-top: 1rem;
    padding-left: 5rem;
    margin-right: 1rem;
    height: 500px;
  }

  .description {
    padding-left: 1rem;
    padding-right: 5rem;
    height: 100%;
  }

  .paragraph {
    margin: 1.8rem 0;
    padding: 0.5rem 1rem;
  }

  h2 {
    padding: 5rem;
  }

  .panel2 {
    p:first-child {
      margin: 3.4rem 0;
    }
  }

  .accordion {
    width: 60%;
    padding-bottom: 5rem;
  }

  .footer {
    .paragraph {
      padding: 0rem !important;
    }
  }

}

.faq {
  color: #47525e;
}


.faq-text {
  font-family: 'Monoton', cursive;
} 

.accordion-fix {
  --background-color: #a3af95;
}

.green {
  color: #47525e;
  font-size: 18px;
}