ion-button {
  border-radius: 8px;
  color: #47525e;
}

.button-primary{
  background: #8E9A84;
  border-radius: 8px;
  color: #47525e;
}

ion-toolbar {
  --background: #CBD2C3;
  height:75px;
  width: 100%;
  display: flex;
}

ion-content {
  --background: none;
  background-image: url("../images/home_page.jpg");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: #e8eceb;
  height: 100%;
  width: 100%;
}

.img {
  height: 100%;
}

.img_text {
    font-size: small;
    margin-left: 6px;
    align-self: flex-end;
    margin-bottom: 3px;
    color: #47525e;
}

.title {
  background-color: #e8eceb;
  /* align content right*/
  margin-left: 50%;
  margin-top: 200px;
  font-family: Lato;
  width: 500px;
}

.homePage_title {
  color: #47525e;
  font-size: 50px;
  text-align: center;
}

.separator {
  width: 100%;
  border-bottom: 1px solid #47525e;
  margin-top: 20px;
  margin-bottom: 20px;
}

.homePage_subText {
  color: #47525e;
  font-size: 25px;
  width: 100%;
  text-align: center;
}
