.itinerary-content {
  background-color: #b1b8a9;
}

.button-primary-itenerary {
  width: 70px;
}

.map-select-container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

.map-container {
  width: 70vw;
  height: 70vh;
  margin: 0 auto;
  text-align: center;
}

.map {
  /* height: 80vh; */
  width: 51.5vw;
  height: auto;

  margin-left: 10.3vw;
  margin-top: 8.5vh;

  position: absolute;
}

.route-select-list {
  position: absolute;
  border-radius: 10px;
  background-color: white;
  padding: 3px;

  margin-top: 10%;
}

.route-label {
  --background: white;
}

.choose-route {
  margin-left: 22.6vw;
  margin-top: -1.4vh;
  position: absolute;
}

.current-list {
  position: absolute;
  height: 42vh;
  width: 21vw;
  background-color: #cbd2c3;
  margin-top: 2vh;
  margin-left: -14vw;

  border-radius: 10px;
}

.forgot-something {
  position: absolute;
  height: 42vh;
  width: 21vw;
  background-color: #cbd2c3;
  margin-top: 46.3vh;
  margin-left: -14vw;

  border-radius: 10px;
}

.route-select-option {
  --background: #cbd2c3;
  --ion-text-color: #47525e;
}

.col {
  flex: 1 1 0px;
}

.supermarkets-list {
  border-radius: 10px;
  width: 18vw;
  height: 86.5vh;
  margin-left: 65.6vw;
  margin-top: 2.5vh;
}

.supermarket-searchbar {
  --border-radius: 10px;
  margin-top: -2%;
}

.current-list-name {
  font-weight: bold;
  font-family: Lato;
  font-size: 1.2vw;
  color: #47525e;

  margin-top: 0.5vh;
  margin-left: 0.5vw;
}

.current-list-item {
  font-family: Lato;
  color: #47525e;

  margin-top: 3%;
  margin-left: 1.5%;
}

.current-list-bullet {
  display: inline-block;
  width: 6px;
  height: 6px;
  position: absolute;
  background-color: #5f6e35;
  border-radius: 100%;

  margin-left: -3%;
  margin-top: 1.9%;
}

.current-list-item-row {
  margin-left: 6%;
}

.current-list-separator {
  width: 96%;
  border-bottom: 1.2px solid #5f6e35;
  margin-left: 0.5rem;
}

.forgot-something-title {
  color: #47525e;
  font-family: Lato;
  font-weight: bold;
  font-size: 1vw;

  margin-top: 0.6vh;
  margin-left: 1.45vw;
}

.forgot-something-separator {
  width: 96%;
  border-bottom: 1.2px solid #5f6e35;
  margin-left: 0.5rem;
  margin-top: 0.1vh;
}

.search {
  height: 4vh;
  width: 18vw;
}

@media only screen and (min-width: 1000px) {
  .route-select-list {
    width: 500px;
    margin: 25px auto;
  }
}

@media only screen and (max-width: 1000px) {
  .map-container {
    width: 90vw;
    height: 66vh;
  }

  .map-select-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .route-select-list {
    /*  width: 100% - 40px; */
    margin: 25px;
  }
}
