.ion-toolbar-namelist {
  --background: #cbd2c3;
  height: 75px;
  width: 100%;
  display: flex;
}

.img {
  height: 100%;
}

.img_text {
  font-size: small;
  margin-left: 6px;
  align-self: flex-end;
  margin-bottom: 3px;
  color: #47525e;
}

.back-button {
  background-color: #8e9a84;
  color: #47525e;
  border-radius: 8px;
  padding: 10px;
}

.back {
  font-weight: bold;
}

.ion-content-namelist {
  --background: none;
  background-image: url("../images/savelist_bgo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  filter: opacity(100%);
}

.grocery-namelist {
  background-color: #8e9a84;
  border-radius: 10px;
  border: 2px solid #343f4b;
  margin: auto;
  margin-top: 8%;
  width: 40%;
  height: 60%;
}

.grocery-namelist-header {
  width: 100%;
  margin: auto;
  height: 25%;
}

.grocery-namelist-title {
  margin-top: 0;
  color: #47525e;
  font-family: Lato;
  text-align: center;
  padding: 10%;
}

.grocery-namelist-input {
  width: 100%;
  margin: auto;
  height: 25%;
  margin-top: 8%;
}

.name-text-input {
  background-color: #ffffff;
  border: 2px solid #8492a6;
  border-radius: 10px;
  width: 60%;
  height: 60%;
  margin-left: 20%;

  color: #47525e;
  font-family: Lato;
  font-size: larger;
  font-weight: bold;
}

.name-save-button {
  background-color: rgba(185, 188, 180, 0.19);
  color: #47525e;
  font-family: Lato;
  border: 3px solid #b9bcb4;
  border-radius: 10px;
  width: 35%;
  height: 15%;
  margin-top: 3%;
  margin-left: 32%;
  font-size: 150%;
}

.text {
  color: #47525e;
  font-family: Lato;
  font-weight: 600;

  padding: 1%;
}

@media (max-width: 480px) {
  .lists-container {
    display: grid;
    grid-template-areas: "grocery-lists";

    height: 100%;

    color: #47525e;
  }
}
