.ion-toolbar-thankyou {
  --background: #cbd2c3;
  height: 75px;
  width: 100%;
  display: flex;
}

.img {
  height: 100%;
}

.img_text {
  font-size: small;
  margin-left: 6px;
  align-self: flex-end;
  margin-bottom: 3px;
  color: #47525e;
}

.back-button {
  background-color: #8e9a84;
  color: #47525e;
  border-radius: 8px;
  padding: 10px;
}

.back {
  font-weight: bold;
}

.ion-content-thankyou {
  --background: none;
  background-image: url("../images/thankyou-supertransp.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.grocery-thankyou {
  background-color: #CBD2C3;
  border-radius: 20px;
  margin: auto;
  margin-top: 5%;
}

.grocery-thankyou-title {
  margin:auto;
  color: #8E9A84;
  font-family: Lato;
  text-align: center;
  font-weight: 900;
}

.grocery-thankyou-continue {
  margin:auto;
  color: #8E9A84;
  font-family: Lato;
  text-align: center;
  margin-top: 2.5%;
  font-weight: 900;
}

.thankyou-return-button{
  width: 280px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;

}

@media(min-width: 300px) {

  .ion-content-thankyou {
      background-image: url("../images/supermarket-supertransp.png");
  }

  .grocery-thankyou{
    width: 70%;
    height: 35%;
  }

  .grocery-thankyou-title {
    padding: 4rem;
  }
  
}

@media (min-width: 800px) {

  .ion-content-thankyou {
      background-image: url("../images/thankyou-supertransp.png");
  }

  .grocery-thankyou{
    width: 55%;
    height: 35%;
  }

  .grocery-thankyou-title {
    padding: 5rem;
  }

}

