.search-item {
  height: 55px;
  width: 75%;

  border-radius: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;

  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 12%;

  cursor: pointer;
}

.search-item-image {
  width: 20%;
  max-height: 7vh;
  object-fit: contain;

  position: absolute;
}

.search-item-name {
  position: absolute;

  font-size: medium;
  font-weight: bold;
  font-family: Lato;
  color: black;

  margin-left: 35%;
  margin-top: 4.4%;
}
