.menu-item {
  margin-top: 10%;
  margin-left: 6%;
}

.item-image-menu {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  align-self: center;

  border-width: 1px;
  border-color: #8e9a84;
  border-style: solid;
}

.item-name-menu {
  font-family: Lato;
  font-size: small;
  font-weight: bold;
  color: #47525e;

  margin-left: 22%;
  margin-top: -16%;
}

.item-quantity-menu {
  font-family: Lato;
  font-size: small;
  font-weight: bold;
  color: #47525e;
  margin-left: 22%;
  margin-top: -5%;
}

.item-divider {
  width: 50%;
  border-bottom: 2px solid #8e9a84;
  margin: auto;
  margin-top: 15%;
  margin-left: 10%;
}

.remove-from-list-button {
  background-image: url("../../images/trash-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 11%;
  height: 100%;
  position: absolute;

  margin-left: 80%;
  margin-top: -25%;
}
